# Antora build output
site/www/*
!site/www/.gitkeep
site/.cache/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
*.jar
!**/src/main/resources/**/*.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.factorypath
.springBeans
.apt_generated
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/

# OS
.DS_Store

# Logs
*.log
audit.log

# Node (Antora)
node_modules/
